.vscode/
__pycache__/
.ipynb_checkpoints/
.venv/
artifacts/
mlruns/
*.parquet
*.pkl
models/
wandb/
plots/

# Generated images (but keep the logo)
*.jpg
*.png
# *.jpeg
!hippo.jpeg  # Keep the project logo

# Docker build context exclusions
wandb/
__pycache__/
*.log

upload_to_bigquery.py